@import "./index.scss";

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.CategoryPage {
  text-align: center;
  .category-vertical {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .category-message {
    font-family: SCDream7;
    font-size: 34px;
  }
  .CategoryItems {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    width: 900px;
    margin-top: 124px;
    .category-item {
      height: 224px;
      text-align: left;
      cursor: pointer;
      .cover {
        position: absolute;
        z-index: 2;
        width: 172px;
        height: 160px;
        background-color: #000;
        opacity: 0;
        transition-property: opacity height;
        transition-duration: 0.5s;
      }
      .icategory {
        width: 172px;
        height: 160px;
        overflow: hidden;
        max-height: 160px;
        transition-property: max-height;
        transition-duration: 0.5s;
        img {
          max-height: initial;
        }
      }
      .category-body {
        z-index: 10;
        font-size: 11px;
        padding: 16px;
        height: 32px;
        background-color: #ffffff;
        transition-property: height background-color;
        transition-duration: 0.5s;
        .category-name {
          font-size: 14px;
          font-family: SCDream5;
        }
        .category-children {
          display: none;
          margin-top: 34px;
          color: rgba(51, 51, 51, 0.6);
        }
      }
      &:hover {
        .cover {
          height: 96px;
          opacity: 0.6;
        }
        .icategory {
          max-height: 96px;
        }
        .category-body {
          height: 96px;
          background-color: #fff45c;
          .category-children {
            display: block;
            animation: fadein 0.5s linear 0.3s 1 both;
          }
        }
      }
    }
  }
}
