@import "./index.scss";

.Header {
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: $header-height;
  .header-flex {
    margin: 0 auto;
    width: 85%;
    max-width: $frame-middle-width;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .iddakdae-logo {
      height: min-content;
    }
  }
}
