@import "./index.scss";

.Header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  .header-flex {
    display: flex;
    height: 60px;
    width: calc(100vw - 60 * 2px);
    @include respond-to(wide) {
      height: 76px;
      width: calc(100vw - 76 * 2px);
    }
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    .ddakdae-logo {
      .iddakdae-logo {
        width: 40px;
        height: 24px;
      }
      .ddakdae-logo-text {
        display: none;
        width: max-content;
        height: max-content;
        font-family: SCDream9;
        font-size: 24px;
        color: #333;
        &.white {
          color: #fff;
        }
      }
      &:hover {
        .iddakdae-logo {
          display: none;
        }
        .ddakdae-logo-text {
          display: block;
        }
      }
    }
    .imenu-icon {
      width: 24px;
      height: 16px;
      cursor: pointer;
    }
  }
}
