@import "./index.scss";

.FirstPage {
  position: relative;
  margin: 0;
  .first-flex {
    display: flex;
    height: 288px;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: calc(50vh - 288 * 0.5px + 14px);
  }
  .ifirst-logo {
    width: 477px;
    height: 288px;
  }
  .body-content {
    height: 288px;
    margin-top: -20px;
    .sub-title {
      font-family: NotoSerifCJK-ExtraLight;
      font-size: 38px;
    }
    .title {
      font-family: SCDream9;
      font-size: 96px;
      margin-top: 30px;
      margin-left: -2px;
    }
    .ikakao-login-btn {
      width: 300px;
      height: 48px;
      margin-top: 48px;
    }
  }
}
