@import "./index.scss";

.FirstPage {
  position: relative;
  margin: 0;
  height: 100vh;
  .body-content {
    margin: 0 auto;
    width: 85%;
    max-width: $frame-middle-width;
  }
  .body-content:after {
    background-image: url("../img/firstpage-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.2 !important;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
  }
  .sub-title {
    font-family: ChosunilboNM;
    font-size: 32.5px;
    color: #333333;
    padding-top: 133px;
  }
  .title {
    font-family: SCDream9;
    font-size: 92.5px;
    margin-top: 59px;
    color: #333333;
  }
  .ikakao-login-btn {
    width: 300px;
    margin-top: 79px;
  }
}
