@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.JoinForm {
  color: #fff;
  font-family: SCDream3;
  font-size: 16px;
  position: fixed;
  margin-left: calc(50vw - (642 * 0.5px));
  animation: fadein 2s linear 1s 1 both;
  top: 223px;
  z-index: 2;
  width: 642px;
  .student-form {
    .gender-select,
    .grade-select {
      display: flex;
      margin-top: 19px;
      margin-bottom: 48px;
      button {
        font-family: NotoSansCJK-Medium;
        font-size: 13px;
        border-radius: 2px;
        color: white;
        border: 2px solid #fff;
        width: 120px;
        height: 42px;
        margin-right: 15px;
        background-color: rgba(255, 255, 255, 0);
        &:hover {
          background-color: rgba(255, 255, 255, 0.6);
        }
      }
      &.-man .man,
      &.-woman .woman,
      &.-one .one,
      &.-two .two,
      &.-three .three,
      &.-else .else {
        color: black;
        background-color: rgba(255, 255, 255, 1);
      }
    }
    .grade-select {
      margin-bottom: 96px;
    }
    input {
      font-family: NotoSansCJK-DemiLight;
      display: block;
      margin-top: 18px;
      margin-bottom: 48px;
      font-size: 13px;
      width: 622px;
      height: 42px;
      padding-left: 20px;
      border-radius: 2px;
    }
    .submit {
      font-family: SCDream6;
      font-size: 14px;
      width: 174px;
      height: 38px;
      border-radius: 2px;
      margin-left: calc((642 - 174) * 0.5px);
    }
  }
}

.JoinPage {
  .message {
    font-family: SCDream7;
    text-align: center;
    font-size: 34px;
    color: #ffffff;
    margin-left: calc(50vw - (362 * 0.5px));
    width: 362px;
    height: 118px;
    position: fixed;
    top: 144px;
    z-index: 2;
    transition-property: top;
    transition-duration: 1s;
    transition-timing-function: ease;
    .sub-message {
      font-family: NotoSansCJK-Regular;
      font-size: 12px;
      margin-top: 10px;
      transition-property: opacity;
      transition-duration: 1s;
    }
    &.INITIAL {
      top: 172px;
      border-bottom: 1px solid #fff;
    }
    &.STUDENT,
    &.TUTOR {
      .sub-message {
        opacity: 0;
      }
    }
  }
  .join-area {
    width: 100%;
    height: 100vh;
    background-color: #333333;
    .area {
      width: 50%;
      height: 100%;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
      position: relative;
      transition-property: width;
      transition-duration: 2s;
      transition-timing-function: ease;
      .cover {
        position: absolute;
        background-color: #000;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        transition-property: opacity;
        transition-duration: 1s;
        top: 0;
        left: 0;
        &.-focus {
          opacity: 0;
        }
      }
      button {
        position: absolute;
        font-family: SCDream6;
        color: rgba(51, 51, 51, 0.6);
        background-color: #fff;
        z-index: 2;
        border: 0px;
        width: 243px;
        height: 72px;
        border-radius: 2px;
        font-size: 16px;
        top: 415px;
        opacity: 0.6;
        transition-property: opacity color;
        transition-duration: 1s;
      }
      &.-focus {
        button {
          opacity: 1;
          color: #333;
        }
        .ex {
          color: #fff;
        }
      }
      .ex {
        font-family: NotoSansCJK-Regular;
        position: absolute;
        z-index: 2;
        width: 50vw;
        text-align: center;
        font-size: 14px;
        transition-property: color;
        transition-duration: 1s;
        color: rgba(255, 255, 255, 0.6);
        top: 510px;
      }
      &.STUDENT,
      &.TUTOR {
        .cover {
          opacity: 0.6;
        }
        button,
        .ex {
          display: none;
        }
      }
      &.INITIAL {
        transition: unset;
      }
    }
    .student-area {
      float: left;
      background-image: url("../img/join-student-img.png");
      .cover {
        opacity: 0.6;
      }
      button {
        margin-left: calc(25vw - (260 * 0.5px));
      }
      &.STUDENT {
        width: 100%;
      }
      &.TUTOR {
        width: 0%;
      }
    }
    .tutor-area {
      float: right;
      background-image: url("../img/join-tutor-img.png");
      button {
        margin-left: calc(25vw - (260 * 0.5px));
      }
      &.TUTOR {
        width: 100%;
      }
      &.STUDENT {
        width: 0%;
      }
    }
  }
}
